---
name: CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  super-lint:
    name: Lint Code Base
    runs-on: [ubuntu]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run Super-Linter
        uses: github/super-linter/slim@v4
        env:
          VALIDATE_PYTHON_ISORT: false
